@import "../mixins";

.about-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px;
}

@media screen and (min-width: 769px) and (max-width: 1394px) {
  .about-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1395px) and (max-width: 2000px) {
  .about-container {
    grid-template-columns: 1fr 2fr;
  }
}

.bio {
  background-color: #3a3c55;
  padding: 2rem 3rem 1rem 3rem;
  font-size: 1.25rem;

  &-name {
    margin-bottom: 1rem;
    h2 {
      font-size: 2rem;
      font-weight: bolder;
      text-transform: uppercase;
      display: inline-block;
    }
    h3 {
      font-size: 1.5rem;
      font-weight: bolder;
      color: #94c85a;
      display: inline-block;
    }
  }

  &-content {
    border-bottom: 2px solid #eee;
    padding-bottom: 2rem;
    margin-bottom: 1rem;

    h3, p {
      margin-bottom: 1rem;
    }

    .mission {
      border-left: 3px solid #94c85a;
      padding-left: 1rem;
      margin-bottom: 1rem;
    }
  }

  &-education {
    h2 {
      text-align: center;
    }
  }
}


@mixin card-base {
  background: lighten($primary-color, 5);
  border-bottom: $secondary-color 5px solid;
}

.job {
  @include card-base();
  padding: 0.5rem;
}


// Tablets & Small Laptops
@include mediaMd {
  main#about {
    padding-top: 4rem;
  }

  .about-container {
    grid-template-columns: 1fr;

    .bio {
      font-size: 1.05rem;
      padding: 1.5rem 0.95rem;
    }
  }
}

.education-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 650px) and (max-width: 1194px) {
  .education-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1195px) {
  .education-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}