$select-width: 100%;

@mixin generate-social-option-color($map) {
  @each $social, $color in $map {
    .option {
      .#{$social} {
        color: $color;
      }
    }
  }
}

@mixin generate-option-hover-bg($list, $increment) {
  $counter: 0px;

  @for $i from 1 through length($list) {
    .option:nth-child(#{$i}):hover ~ .option-bg {
      top: $counter;

      background-color: nth($list, $i);

      border-radius: 4px 4px 0 0;

      $counter: $counter + $increment;
    }
  }
}

@mixin generate-option-selected($list, $decrement) {
  $counter: -31px;

  @for $i from 1 through length($list) {
    .option:nth-child(#{$i}) input[type="radio"]:checked ~ .label:before {
      // @debug nth($list, $i);
      background-color: nth($list, $i);
      color: #fff;
      border-radius: 4px 4px 0 0;
    }

    // @debug $counter;
    .option:nth-child(#{$i}) input[type="radio"]:checked ~ .opt-val {
      top: $counter;
    }

    $counter: $counter - $decrement;
  }
}

@function social-var-list($map) {
  $new-list: [];
  @each $element, $value in $map {
    $new-list: append($new-list, $value, comma);
  }
  @return $new-list;
}

$social-list-bg: social-var-list($social-options);

@include generate-social-option-color($social-options);
@include generate-option-hover-bg($social-list-bg, 40px);
@include generate-option-selected($social-list-bg, 40px);


.select-box {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: $select-width;
  height: 42px;
  margin: 0 0 1rem 0;
  min-width: 250px;
  &.top {
    z-index: 9999;
  }

  .options-view-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;

    &:checked ~ .options {
      border: 1px solid #e2eded;
      border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
    }

    &:checked + #select-button #chevrons i {
      color: #2d3667;
    }

    &:checked ~ .options .option i {
      display: block;
      padding: 12px 0;
    }
    &:checked ~ .options .label {
      display: block;
      padding: 12px 14px;
    }
    &:not(:checked) ~ .options .option input[type="radio"]:checked ~ .opt-val {
      top: -30px;
    }
    &:checked + #select-button #chevrons i {
      color: #2d3667;
    }
    &:checked ~ .options .option-bg {
      display: block;
    }
  }

  .select-button {
    position: relative;
    padding: 7px 14px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
    cursor: pointer;

    // .selected-value {
    //   // font-size: 16px;
    //   // line-height: 1;
    //   // margin-right: 26px;
    // }

    .chevrons {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 12px;
      padding: 9px 14px;
      i {
        display: block;
        height: 50%;
        color: #d1dede;
        font-size: 12px;
        text-align: right;
      }
    }
  }

  .options {
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    width: $select-width;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    z-index: 1000;

    .option {
      position: relative;
      line-height: 1;
      transition: 0.3s ease all;
      z-index: 2;

      &:hover .label {
        color: #fff;
      }

      i {
        position: absolute;
        left: 14px;
        padding: 0;
        display: none;
      }

      input[type="radio"]:checked ~ .opt-val {
        opacity: 1;
        transform: scale(1);
      }

      input[type="radio"]:checked ~ i {
        top: 0;
        bottom: auto;
        opacity: 1;
        animation: unset;
      }

      input[type="radio"]:checked ~ i,
      input[type="radio"]:checked ~ .label {
        color: #fff;
      }
      input[type="radio"]:checked ~ .label:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
      }

      .label {
        display: none;
        padding: 0;
        margin-left: 27px;
        transition: 0.3s ease all;
      }
      .opt-val {
        position: absolute;
        left: 14px;
        width: 217px;
        height: 21px;
        opacity: 0;
        background-color: #fff;
        transform: scale(0);
      }
    }

    .option,
    .label {
      // color: #2d3667;
      font-size: 16px;
    }
  }

  .option-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
  }


  input[type="radio"] {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.s-c {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;

  &.top {
    top: 0;
    &:hover ~ i {
      top: -25px;
      animation: movedown 0.3s ease 0.1s forwards;
    }
  }
  &.bottom {
    bottom: 0;
    &:hover + i {
      bottom: -25px;
      animation: moveup 0.3s ease 0.1s forwards;
    }
  }
  &:hover {
    height: 100%;
    z-index: 1;
  }

  &:hover ~ i {
    color: #fff;
    opacity: 0;
  }
}

@keyframes moveup {
  0% {
    bottom: -25px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
